In [3]:
import os, sys, json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
path_prefix = '../res_1024/'
ll = os.listdir(path_prefix)
loa, laa, lkappa, ldata_sign, lsample_num, ln = [], [], [], [], [], []
for line in ll:
    if 'Indian_test' in line:
        items = line.split('_')
        data_sign, sample_num, n = items[2], int(items[0]), int(items[1]) 
        
    elif 'pavia_cross' in line or 'salians_cross' in line:
        items = line.split('_')
        data_sign, sample_num, n = items[2], int(items[0]), int(items[1]) 
        
    path = '%s/%s' %(path_prefix, line)
    with open(path, 'r') as fin:
        ss = json.loads(fin.read())
        oa, aa, kappa = ss['eval']['oa'], ss['eval']['aa'],ss['eval']['kappa']
        for t in ['oa', 'aa', 'kappa', 'data_sign', 'sample_num', 'n']:
            ss = 'l%s.append(%s)' % (t, t)
            eval(ss)
    df = pd.DataFrame({
        'data_sign':ldata_sign,
        'sample_num':lsample_num,
        'n':ln,
        'oa': loa,
        'aa':laa,
        'kappa':lkappa,
    })

In [19]:
df = df.sort_values(['data_sign', 'sample_num', 'n'])

In [28]:
df[(df['data_sign']=='Indian') &(df['sample_num']==10)]

   data_sign  sample_num  n         oa         aa      kappa
76    Indian          10  0  88.423035  94.545669  86.919723
2     Indian          10  1  86.232530  93.878391  84.504513
67    Indian          10  2  87.174150  94.130786  85.520044
68    Indian          10  2  96.137859  98.460174  95.700721
29    Indian          10  3  87.768857  93.809370  86.160376
30    Indian          10  3  94.937557  97.603839  94.362113
31    Indian          10  3  96.132791  98.244905  95.701019
1     Indian          10  4  86.936267  93.976671  85.256924